{{user.errors}}
{{user.success_msg}}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="/css/signin.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?    family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<div class="container">
<div class='login'>
  <h2>Password Reset</h2>
	<form method="post" action=""> 
		<div class="form-group">
			<label for="password">New Password</label>
			<input type="password" name="password" class="form-control" value="" required>
		</div>
		<div class="form-group">
			<label for="password2">Confirm Password</label>
			<input type="password" name="password2" class="form-control" value="" required>
		</div>
	<div class='agree'>
      <button type="submit" class='animated btn btn-lg btn-primary btn-block' type='submit' style="background-color:#6D7781;">Reset</button>
			</div>
		</div>
	</form>
</div>