{{user.errors}}
{{user.success_msg}}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="/css/signin.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?    family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<div class="container">
<div class='login'>
  <h2>Password Reset</h2>
	<form method="post" action=""> 
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" required>
		</div>
		<label style="display: block;margin-top: 1em;margin-left: 9.5em;"><a href="http://localhost:5000/user/login">Remembered Password?</a></label>
	<div class='agree'>
      <button type="submit" class='animated btn btn-lg btn-primary btn-block' type='submit' style="background-color:#6D7781;">Submit</button>
			</div>
		</div>
	</form>
</div>
