
<link rel="stylesheet" href="/css/CSS1.css"/>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<footer style="margin-top: 20px">
<div style="line-height: 5px">
<div class="outer">
<div class="bga">
    <div class="inner">

    <h4><a href='/about'> ABOUT US</h4>

    </div>
</div>
</div>
<!-- <div class="outer">
    <div class="bga">
    <div class="inner">
	<h4> E-NEWSLETTER</h4>
    </div>
</div>
</div>
<div class="outer">
    <div class="bga">
    <div class="inner">
	    <h4> BECOME A MEMBER</h4>
    </div>
    </div>
</div> -->
<div class="outer">
    <div class="bga">
    <div class="inner">
        <li class="nav-item">
					<h4><a class="nav-link" href="/feedback/feedback">Feedback</a></h4>
				</li>
    </div>
    </div>
</div>
</div>
</footer>