<h1>TRANSACTION SUCCESSFUL</h1>
<br>
<a href="/"><button type="button" class="btn btn-dark">BACK TO HOMEPAGE</button></a>

<style>
    h1 {
        text-align: center;
    }
    button {
        width: 100%;
    }
</style>